################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/BlackListingAndOffset/v16/Server/sqlite3
BlackListingAndOffset/Data/
BlackListingAndOffset/bin/
BlackListingAndOffset/obj/
BlackListingAndOffset/BLnOFF/Data
